.titulo{
    color: var(--color-subTitulo);
    font-size: xx-large;
    text-align: center;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto hr{
    width: 100%;
}
.links_contacto{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 1em;
}
.link_whatsapp,.link_email, .link_telephone,.link_linkedin{
    text-decoration: none;
    color: var(--color-subTitulo);
    display: flex;
    align-items: center;
}
span{
    color: aliceblue;
}

@media screen and (max-width:700px){
    .links_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}