.educacion{
    text-align: center;
}
.titulo{
    color: var(--color-subTitulo);
    font-size: xx-large;
}
h3{
    color: var(--color-subTitulo);
}
.educacionItem1{
    padding-top: 5em;
}
.educacionItem2{
    padding-top: 2em;
    padding-bottom: 5em;
}
.educacionItem1 span,.educacionItem2 span{
    color: #c4ff8a;
}
.hr{
    width: 50%;
    margin-top: 4em;
}